*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
}
.modal-btn{
  border-radius: 7px;
  width: 102px;
  height: 42px;
}