.menu-wrapper ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu-wrapper ul li {
    margin: 0 10px 0 0;
}

.menu-wrapper ul li a{
    color: black;
}

.menu-wrapper ul li a:hover{
    color: red;
    text-decoration: none;
}

.menu-wrapper .not-light{
    background-color: #000000;
    color: #ffffff;
}
.menu-wrapper .light {
    background: greenyellow;
    color: black;
}