.counter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.counter-statistic{
    font-size: 80px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}